:root {
    --purple: purple;
    --light: #fff;
    --background-color: grey; 
  }

  * {
    background-color: var(--background-color);
  }
  h1 {
    color: var(--purple);
  }

  p {
    color: var(--light)

  }
  header p {
    color: var(--light);
  }

  h2 {
    color: var(--purple);
    font-size: 150%;
  }

  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }